<!DOCTYPE html>
<html>
  <head>
    <title>ANS</title>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <h1>Asymmetric Numeral System (ANS)</h1>
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h2>Input</h2>
          <div class="toggle">
             <span>Encoding</span>
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
            <span>Decoding</span>
          </div>
        </div>
        <div class="card-body">
          <textarea id="input" rows="10" cols="45" placeholder="Enter a number"></textarea>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h2>Output</h2>
          <button class="reset-button">Reset</button>
        </div>
        <div class="card-body">
          <textarea id="output" rows="10" cols="45" placeholder="Output"></textarea>
        </div>
      </div>
    </div>

    <footer>
      <p class="footer-authors">Created by: Kacper Bojanowski, Kacper Handzlik, Mateusz Potasnik, Bartosz Szymanski</p>
      <p class="footer-desc">Project on Coding and Cryptography titled: "ANS as applied to a network application"</p>
    </footer>


    <script>
        // limit input to only numbers with regex
        const textarea = document.getElementById('input');
        textarea.addEventListener('input', function() {
          const regex = /[^0-9]/g; // match any non-numeric characters
          textarea.value = textarea.value.replace(regex, ''); // remove non-numeric characters
        });
    </script>
  </body>
</html>