<!DOCTYPE html>
<html>
  <head>
    <title>ANS</title>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <main>
    <h1>Asymmetric Numeral System (ANS)</h1>
    <div class="wrapper">
            <input type="radio" onclick="ChangeAnsType(this)" name="select" value="uans" id="option-1" checked="checked">
            <input type="radio" onclick="ChangeAnsType(this)" name="select" value="ransws" id="option-2">
            <input type="radio" onclick="ChangeAnsType(this)" name="select" value="ranswos" id="option-3">
            <input type="radio" onclick="ChangeAnsType(this)" name="select" value="tans" id="option-4">
               <label for="option-1" class="option option-1">
                 <div class="dot"></div>
                  <span>uANS</span>
                  </label>
               <label for="option-2" class="option option-2">
                 <div class="dot"></div>
                  <span>rANS with rescaling</span>
               </label>
                <label for="option-3" class="option option-3">
                 <div class="dot"></div>
                  <span>rANS without rescaling</span>
               </label>
                <label for="option-4" class="option option-4">
                 <div class="dot"></div>
                  <span>tANS</span>
               </label>
    </div>
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h2>Input</h2>
          <div class="toggle">
             <span id="encode" name="change">Encoding</span>
            <label class="switch">
              <input type="checkbox" onclick="ChangeDecode()" id="checkbox">
              <span class="slider round"></span>
            </label>
            <span id="decode" >Decoding</span>
          </div>
          <button class="reset-button" onclick="start()">Start</button>
        </div>
        <div class="card-body">
          <textarea id="input" rows="10" cols="45" placeholder="Enter a number"></textarea>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h2>Output</h2>
          <button class="reset-button" onclick="reset()">Reset</button>
        </div>
        <div class="card-body">
          <textarea id="output" rows="10" cols="45" placeholder="Output" readonly></textarea>
        </div>
      </div>
    </div>

    </main>
    <footer>
      <p class="footer-authors">Created by: Kacper Bojanowski, Kacper Handzlik, Mateusz Potasnik, Bartosz Szymanski</p>
      <p class="footer-desc">Project on Coding and Cryptography titled "ANS as applied to a network application"</p>
    </footer>


    <script>
        // limit input to only numbers with regex
        const textarea = document.getElementById('input');
        textarea.addEventListener('input', function() {
          const regex = /[^0-9]/g; // match any non-numeric characters
          textarea.value = textarea.value.replace(regex, ''); // remove non-numeric characters
        });

        function start() {
            const input = document.getElementById('input').value;
            const EnOrDe = document.querySelector("[name='change']").getAttribute('id');
            const AnsType = document.querySelector("[checked='checked']").getAttribute('value');
            const data = {
                input: input
              };
            fetch(`/${AnsType}/${EnOrDe}`, {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
              })
              .then(response => response.text())
              .then(data => {
                const outputTextarea = document.getElementById('output');
                outputTextarea.value = JSON.parse(data).output;
              })
              .catch(error => {
                console.error('Error:', error);
              });
            }

        function isDecode(){
            document.getElementById('checked ans')
        }

        function ChangeDecode(){
            const temp = document.querySelector("[name='change']");
            if (temp && temp.id === 'encode') {
              temp.removeAttribute("name");
              document.getElementById("decode").setAttribute("name", "change");
            }
            else{
              temp.removeAttribute("name");
              document.getElementById("encode").setAttribute("name", "change");
            }
        }

        function ChangeAnsType(element){
            const temp = document.querySelector("[checked='checked']");
            temp.removeAttribute('checked');
            element.setAttribute("checked",'checked');
        }

        function reset(){
            document.getElementById('input').value = "";
            document.getElementById('output').value = "";
            document.getElementById("encode").setAttribute("name", "change");
            document.getElementById("decode").removeAttribute("name");
            ChangeAnsType(document.getElementById('option-1'))
            document.getElementById('option-1').checked = true;
            document.getElementById('checkbox').checked = false;
        }
    </script>
  </body>
</html>